* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 60px;
}

img {
  width: 400px;
  height: 400px;
}

hr {
  margin: 20px 0;
}

.carousel {
  position: relative;
  display: flex;
  width: 400px;
}

.btn {
  background-color: white;
  opacity: 0.4;
  border: none;
  border-radius: 12px;
  padding: 12px;
}

.btn:hover {
  opacity: 0.8;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 12px;
}

.next {
  right: 12px;
}

.indicator-container {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.indicator {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
}

.active {
  opacity: 0.9;
}

.hidden {
  display: none;
}
